body {
  margin: 200px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(199, 147, 177);
  place-content: center;
}

.avatar {
  width: 150px;
  border-radius: 14px;
}

.card {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  width: 400px;
  margin: 0 auto;
  background: #ddebf8;
  color: #2b2839;
  border-bottom: 8px solid #d8cefe;
  border-left: #5a4203 3px solid;
  border-right: #5a4203 3px solid;
  border-top: #5a4203 3px solid;
  border-radius: 14px;
  box-shadow: 10px 12px 12px 10px rgba(212, 68, 169, 0.4);
}

.itext {
  margin-top: 20px;
  font-size: large;
}
