body {
  margin: 20px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
  width: 150px;
}

.card {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  width: 400px;
  margin: 0 auto;
  background: #ddebf8;
  color: #2b2839;
  border-bottom: 6px solid #d8cefe;
}